<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>CURRICULUM</title>
   <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/dj.ico' %}">
   <meta name="author" content="name">
   <meta name="description" content="description here">
   <meta name="keywords" content="keywords,here">
   <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
   <!--Replace with your tailwind.css once created-->
   <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
   <!--Totally optional :) -->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body class="font-sans leading-normal tracking-normal ">

   <div class="flex md:flex-row-reverse flex-wrap">
      <!--Main Content-->
      <div class="w-full md:w-5/6 bg-gray-100" style="background-image:url('{% static 'img/codigosfuentes.jpg' %}')">
         <div class="container pt-5 px-10">
            <div class="container-fluid  p-0">
<!--×××~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~^^^~~~_~~*¤****************************************************¤*~~_~~~^^^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~×××-->
               <!--About-->
               <section class="resume-section" id="about">
                  <div class=" bg-white shadow overflow-hidden sm:rounded-lg opacity-50">
                     
                     <!--TITULO-->
                     <div class="bg-gray-100 px-4 py-5 sm:px-6">
                        <h3 class="text-lg leading-6 font-medium text-gray-900">ABOUT</h3>
                        <!-- -->
                        <p class="mt-1 max-w-2xl text-sm text-gray-500">Informacion Pesonal</p>
                     </div><!--TITULO--> 

                     <!--CONTENIDO-->
                     <div class="border-t border-gray-200">
                        <dl>

                           <!--NOMBRE-->
                           <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                              <dt class="text-sm font-medium text-gray-500">
                                 Nombre
                              </dt>
                              <!-- -->
                              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                 Arango Lucar David Patricio
                              </dd>
                           </div><!--NOMBRE-->

                           <!--EDUCACION-->
                           <div class="bg-gray-100 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">   
                              <dt class="text-sm font-medium text-gray-500">
                                 Educacion
                              </dt>
                              <!-- -->
                              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                 <p>• Ingeniero de sistemas
                                 <p>• desarrollador web
                                 <p>• desarrollador de aplicaciones
                              </dd>
                           </div><!--EDUCACION-->

                           <!--E-MAIL-->
                           <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                              <dt class="text-sm font-medium text-gray-500">
                                 Email
                              </dt>
                              <!-- -->
                              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                 davidarangolucar@gmail.com
                                 <hr>
                                 ingeniero_principal@dparangoludev.com
                              </dd>
                           </div><!--E-MAIL-->
                              
                           <!--TELEGRAM-->
                           <div class="bg-gray-100 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                              <dt class="text-sm font-medium text-gray-500">
                                 Telegram
                              </dt>
                              <!-- -->
                              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                 @Chon94
                              </dd>
                           </div><!--TELEGRAM-->
                              
                           <!--TELEFONO-->
                           <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                              <dt class="text-sm font-medium text-gray-500">
                                 Telefono
                              </dt>
                              <!-- -->
                              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                 • +51 927 069 816
                              </dd>
                           </div><!--TELEFONO-->
                              
                           <!--ARCHIVOS-->
                           <div class="bg-gray-100 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                              <dt class="text-sm font-medium text-gray-500">
                                 Archivos
                              </dt>
                              <!-- -->
                              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                 <!--CONTENEDOR-->
                                 <ul role="list" class="border border-gray-200 rounded-md divide-y divide-gray-200">   
                                    <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                                       <!-- -->
                                       <div class="w-0 flex-1 flex items-center">
                                          <span class="ml-2 flex-1 w-0 truncate">
                                             Curriculum
                                          </span>
                                       </div>
                                       <!-- -->
                                       <div class="ml-4 flex-shrink-0">
                                          <a href="#" class="font-medium text-indigo-300 hover:text-indigo-900">
                                             Descargar
                                          </a>
                                       </div>
                                       <!-- -->
                                    </li>
                                 </ul><!--CONTENEDOR-->
                              </dd>
                           </div><!--ARCHIVOS-->
                              
                        </dl>
                     </div><!--CONTENIDO-->

                  </div>
               </section><!--About-->
               <hr class="border-transparent mb-10 mx-1" />
<!--×××~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~^^^~~~_~~*¤****************************************************¤*~~_~~~^^^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~×××-->
               <!--Experience-->
               <section class="resume-section" id="experiencia">
                  <div class="bg-white shadow overflow-hidden sm:rounded-lg opacity-50">
                     
                     <!--TITULO-->
                     <div class="bg-gray-100 px-4 py-5 sm:px-6">
                        <h3 class="text-lg leading-6 font-medium text-gray-900">Experiencia</h3>
                        <!-- -->
                        <p class="mt-1 max-w-2xl text-sm text-gray-500">Informacion Laboral</p>
                     </div><!--TITULO-->
                     
                     <!--CONTENIDO-->
                     <div class="border-t border-gray-200">
                        <dl>

                           <!--DESARROLLADOR-->
                           <div class="bg-white px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                              <dt class="text-sm font-medium text-gray-500">
                                 desarrollador
                              </dt>
                              <!-- -->
                              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                 <p>• Desarrollador de aplicaciones java 2018 
                                 <p>• Desarrollador web con larabel 2021
                                 <p>• Desarrollador Python 2021
                                 <p>• Desarrollador web con django con node.js 2022
                              </dd>
                           </div><!--DESARROLLADOR-->

                           <!--COSTRUCTORA-->
                           <div class="bg-gray-100 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                              <dt class="text-sm font-medium text-gray-500">
                                 constructora
                              </dt>
                              <!-- -->
                              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"> 
                                 <p>• Manejo de información de obras de arte en carreteras(ingeniería civil)2019 
                                 <p>• Clasificacion de obras de arte en carreteras(ingenieríacivil) 2019
                                 <p>• Consultoría de proyectos
                              </dd>
                           </div><!--COSTRUCTORA-->

                           <!--EDUCACION-->
                           <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                              <dt class="text-sm font-medium text-gray-500">
                                 Educacion
                              </dt>
                              <!-- -->
                              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"> 
                                 •Profesor de Reparación Física y Lógica de Computadoras 2016 
                              </dd>
                           </div><!--EDUCACION-->

                        </dl>
                     </div><!--CONTENIDO-->

                  </div>
               </section><!--Experience-->
               <hr class="border-transparent mb-10 mx-1" />
<!--×××~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~^^^~~~_~~*¤****************************************************¤*~~_~~~^^^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~×××-->
               <!--Education-->
               <section class="resume-section" id="educacion">
                  <div class="bg-white shadow overflow-hidden sm:rounded-lg opacity-50">
                     
                     <!--TITULO-->
                     <div class="bg-gray-100 px-4 py-5 sm:px-6">
                        <h3 class="text-lg leading-6 font-medium text-gray-900">EDUCACION</h3>
                        <!-- -->
                        <p class="mt-1 max-w-2xl text-sm text-gray-500">Formacion Profesional</p>
                     </div><!--TITULO-->
                     
                     <!--CONTENIDO-->
                     <div class="border-t border-gray-200">
                        <dl>

                           <!--UNIVERSIDAD-->
                           <div class="bg-white px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                              <dt class="text-sm font-medium text-gray-500">
                                 Universidad
                              </dt>
                              <!-- -->
                              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                 <p>ULADECH Universidad Los Angeles De Chimbote
                                 <p>Ingenieria de Sistemas(grado bachiller)
                              </dd>
                           </div><!--UNIVERSIDAD-->

                           <!--CAPACITACION-->
                           <div class="bg-gray-100 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                              <dt class="text-sm font-medium text-gray-500">
                                 Capacitacion
                              </dt>
                              <!-- -->
                              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"> 
                                 <p>MINPE 
                                 <p>• Curso especializado de python
                                 <p>• Curso de SIGA,DIAF Y SEACE
                                 <p>SENATI
                                 <p>• Reparacion Fisica y Logica de Computadoras
                              </dd>
                           </div><!--CAPACITACION-->

                           <!--AUTODIDACTA-->
                           <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                              <dt class="text-sm font-medium text-gray-500">
                                 Autodidacta
                              </dt>
                              <!-- -->
                              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"> 
                                 <p>Como muchas personas estudio demanera independiente temas relacionados con la programacion e informatica
                                    ya que son temas que se tienen que estudiar de por vida para ser el mejor
                              </dd>
                           </div><!--AUTODIDACTA-->

                        </dl>
                     </div><!--CONTENIDO-->

                  </div>
               </section><!--Education-->
               <hr class="border-transparent mb-10 mx-1" />
<!--×××~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~^^^~~~_~~*¤****************************************************¤*~~_~~~^^^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~×××-->
               <!--habilidades -->
               <section class="resume-section" id="habilidades">
                  <div class="bg-white shadow overflow-hidden sm:rounded-lg opacity-50">
                     
                     <!--TITULO-->
                     <div class="bg-gray-100 px-4 py-5 sm:px-6">
                        <h3 class="text-lg leading-6 font-medium text-gray-900">HABILIDADES</h3>
                        <!-- -->
                        <p class="mt-1 max-w-2xl text-sm text-gray-500">Informaciones de Habilidades</p>
                     </div><!--TITULO-->
                     
                     <!--CONTENIDO-->
                     <div class="border-t border-gray-200">
                        <dl>

                           <!--LENGUAJES-->
                           <div class="bg-white px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                              <dt class="text-sm font-medium text-gray-500">
                                 Lenguajes de Programacion
                              </dt>
                              <!-- -->
                              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">

                                 <p>• Java
                                 <p>• Python
                                 <p>• Cobol
                                 <p>• PHP
                                 <p>• HTML
                                 <p>• .NET
                                 <p>• Kotlin
                                 <p>• SQL

                              </dd>
                           </div><!--LENGUAJES-->

                           <!--FRAMEWORK'S-->
                           <div class="bg-gray-100 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                              <dt class="text-sm font-medium text-gray-500">
                                 framework's
                              </dt>
                              <!-- -->
                              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"> 

                                 <p>• Bootstrap
                                 <p>• Tailwind
                                 <p>• Django
                                 <p>• Laravel

                              </dd>
                           </div><!--FRAMEWORK'S-->

                           <!--OTROS-->
                           <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                              <dt class="text-sm font-medium text-gray-500">
                                 OTRAS HABILIDADES
                              </dt>
                              <!-- -->
                              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"> 

                                 <p>• Android Studio
                                 <p>• Libre Ofice
                                 <p>• Microsft Ofice
                                 <p>• Laragon
                                 <p>• xampp
                                 <p>• Bizagui
                                 <p>• UML
                                 <p>• Data
                                 <p>• Linux
                                 <p>• Microsoft Windows (Versiones 95-hasta la actualidads)
                                    
                              </dd>
                           </div><!--OTROS-->

                        </dl>
                     </div><!--CONTENIDO-->

                  </div>
               </section><!--habilidades -->
               <hr class="border-transparent mb-10 mx-1" />
<!--×××~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~^^^~~~_~~*¤****************************************************¤*~~_~~~^^^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~×××-->
               <!--Intereses-->
               <section class="resume-section" id="intereses">
                  <div class=" bg-white shadow overflow-hidden sm:rounded-lg opacity-50">
                     
                     <!--TITULO-->
                     <div class="bg-gray-100 px-4 py-5 sm:px-6">
                        <h3 class="text-lg leading-6 font-medium text-gray-900">INTERESES</h3>
                        <!-- -->
                        <p class="mt-1 max-w-2xl text-sm text-gray-500">Informacion basica</p>
                     </div><!--TITULO--> 

                     <!--CONTENIDO-->
                     <div class="border-t border-gray-200">
                        <dl>

                           <!--INFORMATICA-->
                           <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                              <dt class="text-sm font-medium text-gray-500">
                                 Informatica
                              </dt>
                              <!-- -->
                              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                 <p> Una manera de pasar tiempo que la aplico casi a diario es buscar informacion sobre algun lengueaje o framework 
                                 de hecho con ese tiempo elabore este sitio web con Django y conoci el framework css tailwind y aprendi a usar librerias node.js
                                 <p> Tambien estoy interesado en el pentesting y estoy revisando algunos temas actualmente para luego certificarme 
                              </dd>
                           </div><!--INFORMATICA-->
                           
                           <!--DEPORTES-->
                           <div class="bg-gray-100 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">   
                              <dt class="text-sm font-medium text-gray-500">
                                 Deportes
                              </dt>
                              <!-- -->
                              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                 Me encanta la actividad fisica y practico la calistenia o tambien conocido como street workout practicandolo unas 5-6 veces a la semana ademas 
                                 tambien me gusta dar caminatas por bosques, lugares rurales y urbanos
                              </dd>
                           </div><!--DEPORTES-->

                           <!--Musica-->
                           <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                              <dt class="text-sm font-medium text-gray-500">
                                 Musica
                              </dt>
                              <!-- -->
                              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                 Disfruto tambien de escuchar buena musica y variada generalmente musica independiente y nada que este de moda ya que siempre busco algo distinto
                              </dd>
                           </div><!--Musica-->
                              
                           <!--VIDEOJUEGOS-->
                           <div class="bg-gray-100 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                              <dt class="text-sm font-medium text-gray-500">
                                 Videojuegos
                              </dt>
                              <!-- -->
                              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                 Como muchas personas soy alguien que disfruta los Videojuegos los juego desde antes de tener uso de razon
                                 esto me ha llevado a experimentar con java y python al moenteto d e hacer unos Videojuegos pequeños
                              </dd>
                           </div><!--VIDEOJUEGOS-->

                        </dl>
                     </div><!--CONTENIDO-->

                  </div>
               </section><!--Intereses-->
               <hr class="border-transparent mb-10 mx-1" />
<!--×××~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~^^^~~~_~~*¤****************************************************¤*~~_~~~^^^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~×××-->
               <!--SIDEBAR-->
               <div class=" md:w-1/6 md:bg-green-800 px-8 fixed bottom-0 md:pt-5 md:left-0 md:h-screen"  >  
                  <!--LISTA-->
                  <ul class="list-reset flex flex-row md:flex-col text-center md:text-left">
                     
                     <!--IMAGEN-->
                     <img class="w-20 h-20 rounded" src="{% static 'img/chon4.jpg' %}" alt="Large avatar">
                     <!--IMAGEN-->
                     
                     <!--ABOUT-->
                     <li class="mr-3 flex-1">
                        <a href="#about" class="block py-1 md:py-3 pl-1 align-middle text-dark no-underline hover:text-pink-500 border-b-2 border-gray-800 md:border-gray-900 hover:border-pink-500">
                           <i class="fas fa-link pr-0 md:pr-3">
                              <span class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">
                                 About
                              </span>
                           </i>
                        </a>
                     </li>
                     <!--ABOUT-->

                     <!--EXPERIENCIA-->
                     <li class="mr-3 flex-1">
                        <a href="#experiencia"class="block py-1 md:py-3 pl-1 align-middle text-dark no-underline hover:text-pink-500 border-b-2 border-gray-800 md:border-gray-900 hover:border-pink-500">
                           <i class="fas fa-link pr-0 md:pr-3">
                              <span class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">
                                 Experiencia
                              </span>
                           </i>
                        </a>
                     </li>
                     <!--EXPERIENCIA-->

                     <!--EDUCACION-->
                     <li class="mr-3 flex-1">
                        <a href="#educacion" class="block py-1 md:py-3 pl-1 align-middle text-dark no-underline hover:text-pink-500 border-b-2 border-gray-800 md:border-gray-900 hover:border-pink-500">
                           <i class="fas fa-link pr-0 md:pr-3">
                              <span class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">
                                 Educacion
                              </span>
                           </i>
                        </a>
                     </li>
                     <!--EDUCACION-->

                     <!--HABILIDADES-->
                     <li class="mr-3 flex-1">
                        <a href="#habilidades" class="block py-1 md:py-3 pl-1 align-middle text-dark no-underline hover:text-pink-500 border-b-2 border-gray-800 md:border-gray-900 hover:border-pink-500">
                           <i class="fas fa-link pr-0 md:pr-3">
                              <span class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">
                                 habilidades
                              </span>
                           </i>
                        </a>
                     </li>
                     <!--HABILIDADES-->

                     <!--INTERESES-->
                     <li class="mr-3 flex-1">
                        <a href="#intereses"class="block py-1 md:py-3 pl-1 align-middle text-dark no-underline hover:text-pink-500 border-b-2 border-gray-800 md:border-gray-900 hover:border-pink-500">
                           <i class="fas fa-link pr-0 md:pr-3">
                              <span class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">
                                 Intereses
                              </span>
                           </i>
                        </a>
                     </li>
                     <!--INTERESES-->
                     
                     <!--VOLVER-->
                     <li class="mr-3 flex-1">
                        <a href="{% url 'home' %}"class="block py-1 md:py-3 pl-1 align-middle text-dark no-underline hover:text-pink-500 border-b-2 border-gray-800 md:border-gray-900 hover:border-pink-500">
                           <i class="fas fa-link pr-0 md:pr-3">
                              <span class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">
                                 Volver
                              </span>
                           </i>
                        </a>
                     </li>
                     <!--VOLVER-->

                     <!--LUZ-->
                     <div class="absolute top-0 right-0 h-12 w-18 p-4">
                        <button class="js-change-theme focus:outline-none">🌙</button>
                     </div>
                     <!--LUZ-->

                  </ul><!--LISTA-->
               </div><!--SIDEBAR-->
<!--×××~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~^^^~~~_~~*¤****************************************************¤*~~_~~~^^^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~×××-->
            </div>
         </div>
      </div>
   </div>

   <!-- Optional JavaScript; choose one of the two! -->
   <!-- Option 1: Bootstrap Bundle with Popper -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
   <!-- Option 2: Separate Popper and Bootstrap JS -->
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"crossorigin="anonymous"></script>
   <script src="https://unpkg.com/popper.js@1/dist/umd/popper.min.js"></script>
   <script src="https://unpkg.com/tippy.js@4"></script>
   
   <script>
      //Init tooltips
      tippy('.link', {placement: 'bottom'})

      //Toggle mode
      const toggle = document.querySelector('.js-change-theme');
      const body = document.querySelector('body');
      const profile = document.getElementById('profile');

      const about = document.getElementById('about');
      const experiencia = document.getElementById('experiencia');
      const educacion = document.getElementById('educacion');
      const habilidades = document.getElementById('habilidades');
      const intereses = document.getElementById('intereses');




      toggle.addEventListener('click', () => {

         if (body.classList.contains('text-gray-900')) {
            toggle.innerHTML = "☀️";
            body.classList.remove('text-gray-900');
            body.classList.add('text-gray-100');
            profile.classList.remove('bg-white');
            profile.classList.add('bg-gray-900');

            about.classList.remove('bg-white');
            about.classList.add('bg-gray-900');
            experiencia.classList.remove('bg-white');
            experiencia.classList.add('bg-gray-900');
            educacion.classList.remove('bg-white');
            educacion.classList.add('bg-gray-900');
            habilidades.classList.remove('bg-white');
            habilidades.classList.add('bg-gray-900');
            intereses.classList.remove('bg-white');
            intereses.classList.add('bg-gray-900');
         } else {
            toggle.innerHTML = "🌙";
            body.classList.remove('text-gray-100');
            body.classList.add('text-gray-900');
            profile.classList.remove('bg-gray-900');
            profile.classList.add('bg-white');

            about.classList.remove('bg-gray-900');
            about.classList.add('bg-white');
            experiencia.classList.remove('bg-gray-900');
            experiencia.classList.add('bg-white');
            educacion.classList.remove('bg-gray-900');
            educacion.classList.add('bg-white');
            habilidades.classList.remove('bg-gray-900');
            habilidades.classList.add('bg-white');
            intereses.classList.remove('bg-gray-900');
            intereses.classList.add('bg-white');

         }
      });

   </script>

</body>

</html>